{{ define "main" }}
  <main class="article {{ range .Params.categories }}{{ . | urlize }}{{ end }}">
    <article id="{{ .Title | urlize }}">
      <section id="content" class="article">
        <header class="entry-header">
          <h1 class="entry-title">{{ .Title }}</h1>

          <div class="summary">
            {{ .Summary }}
          </div>
        </header>

        <div class="entry-content">
          <div class="summary">
            {{ .Content }}
          </div>
        </div>
      </section>
    </article>
  </main>
{{ end }}
